.creator-chip {
  color: var(--ion-color-light);
  border-radius: 10px;
}


.calendar-chip {
  background: var(--ion-color-tertiary);
  color: var(--ion-color-light);
  font-weight: bold;
  border: none;
}

ion-avatar {
  border: 1px solid var(--ion-color-primary);
}

ion-accordion {
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  color: var(--ion-color-dark);
}


ion-list {
  background-color: var(--ion-color-dark);; /* Fondo personalizado para toda la lista */
  border: 1px solid var(--ion-color-primary); /* Bordes personalizados */
}

ion-list ion-item {
  --background: var(--ion-color-dark); /* Fondo de cada ion-item */
  --border-color: var(--ion-color-primary); /* Color del borde de cada ion-item */
  color: var(--ion-color-light); /* Color de texto para el contenido interno */
}

ion-list ion-item h3 {
  font-weight: bold;
  color:  var(--ion-color-light);
}
ion-list ion-item p {
  color: var(--ion-color-light);
}
ion-list ion-item ion-icon {
  color:  var(--ion-color-light); /* Aplica color blanco al texto y a los íconos */
}
