<section class="bg-[url('assets/images/fondo.jpeg')] bg-cover bg-center min-h-screen flex flex-col justify-center items-center">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl  text-white">
          <div class="bg-secondary-800 w-max border border-gray-500 rounded-lg shadow my-4">
            <a href="/" class="flex items-center">
              <img src="https://i.ibb.co/rpKJJFt/logo-flashmatch.png" class="m-1 h-20 sm:h-24" alt="flashmatch-logo" />
            </a>
          </div>
          <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
              <!-- Item 1 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://img.freepik.com/foto-gratis/cerca-pelota-futbol-campo-verde-jugadores-que-van-jugar-juntos_496169-597.jpg"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
              <!-- Item 2 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://img.freepik.com/foto-gratis/concepto-futbol-amateur-equipo-estirando_23-2147833452.jpg?w=1380&t=st=1724452748~exp=1724453348~hmac=8012f6b4b6cd2534d3913e26133a91c6b3ec1cf875b3b5dbc6dfcdd4deeda4fc"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
              <!-- Item 3 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://img.freepik.com/foto-gratis/entrenador-futbol-ensenando-sus-alumnos_23-2149707967.jpg?w=1380&t=st=1724452924~exp=1724453524~hmac=152d09d305ab97f0cd05456fa153f93245c2d470e1d9474fccb4267b84786961"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
              <!-- Item 4 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://img.freepik.com/foto-gratis/chica-rubia-calentando-juntos_23-2148355384.jpg?w=1380&t=st=1724453072~exp=1724453672~hmac=ee07fdf0a67fcc7847e3ce7a82e0b06060c372d39a61fa46cb062f8c81b76d1e"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
              <!-- Item 5 -->
              <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img
                  src="https://img.freepik.com/foto-gratis/concepto-futbol-amateur-piernas-jugadores_23-2147833461.jpg?w=1380&t=st=1724453140~exp=1724453740~hmac=d5e5dff5882ae57a37dd1ff40e628ca8ef3f39025b1e995ba6a2dff9d85f8a06"
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
              </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
              <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                data-carousel-slide-to="0"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                data-carousel-slide-to="1"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                data-carousel-slide-to="2"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                data-carousel-slide-to="3"></button>
              <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button"
              class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-prev>
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button"
              class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              data-carousel-next>
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
          SOBRE NOSOTROS <i class="fa-brands fa-android"></i>
        </h1>
        <p class="mb-4 text-gray-200 font-semibold">Flash Match
          p/p>
        <div class="mb-4">
          <a href="#"
            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-amber-600 hover:bg-amber-700 focus:ring-1 focus:ring-amber-600">
            DESCARGA LA APP
          </a>
        </div>
      </div>
    </div>
</section>