<section class="bg-[url('assets/images/fondo.jpeg')] bg-cover bg-center min-h-screen flex flex-col justify-center items-center">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl  text-white">
          <div class="bg-secondary-800 w-max border border-gray-500 rounded-lg shadow my-4">
            <a href="/" class="flex items-center">
              <img src="https://i.ibb.co/rpKJJFt/logo-flashmatch.png" class="m-1 h-20 sm:h-24" alt="flashmatch-logo" />
            </a>
          </div>
  
          SOBRE NOSOTROS <i class="fa-brands fa-android"></i>
        </h1>
        <p class="mb-4 text-gray-200 font-semibold">Flash Match
          p/p>
        <div class="mb-4">
          <a href="#"
            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-amber-600 hover:bg-amber-700 focus:ring-1 focus:ring-amber-600">
            DESCARGA LA APP
          </a>
        </div>
      </div>
    </div>
</section>