<ion-menu type="push" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-no-padding">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-img class="custom-img" style="height: 35px;" src="assets/icon/favicon.png" alt="logo-flashmatch"></ion-img>
            </ion-col>
            <ion-col size="auto">
              <span class="text-white">Bienvenido(a)!</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      @for (item of menuItems(); track $index) {
        <ion-menu-toggle>
          <ion-item button [routerLink]="item.route">
            <ion-icon [name]="item.icon"  slot="start"></ion-icon>
            <ion-label>{{ item.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }@empty {
        <ion-item>
          <li>
            <ion-label>Error en menu</ion-label>
          </li>
        </ion-item>
        <ion-menu-toggle>
          <ion-item button routerLink="/auth">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      }
    </ion-list>

  </ion-content>


  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center" style="font-size: 14px;">
        Versión 1.0.0
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
