Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/karma-jasmine/node_modules/jasmine-core/lib/jasmine-core/example/node_example/spec/jasmine_examples/PlayerSpec.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/karma-jasmine/node_modules/jasmine-core/lib/jasmine-core/example/node_example/spec/helpers/jasmine_examples/SpecHelper.js
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.__style__.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.html.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/component/files/__name@dasherize@if-flat__/__name@dasherize__.__type@dasherize__.spec.ts.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/interceptor/class-files/__name@dasherize@if-flat__/__name@dasherize__.interceptor.spec.ts.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/interceptor/class-files/__name@dasherize@if-flat__/__name@dasherize__.interceptor.ts.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/interceptor/functional-files/__name@dasherize@if-flat__/__name@dasherize__.interceptor.spec.ts.template
Fase 2/Evidencias Proyecto/Evidencias de sistema/Aplicacion/app-flashmatch-web/node_modules/@schematics/angular/interceptor/functional-files/__name@dasherize@if-flat__/__name@dasherize__.interceptor.ts.template
