<ion-content [fullscreen]="true" color="light" class="animated">
  <!-- Header de Bienvenida -->
  <div class="header-banner">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="3" class="ion-text-center">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="user-avatar" />
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <h2 class="welcome-title ion-no-margin">¡Hola, Daniel!</h2>
          <p class="welcome-subtitle">Explora y gestiona tus partidos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Accesos Rápidos Mejorados -->
  <section class="ion-padding-horizontal shortcut-section">
    <ion-grid>
      <ion-row class="ion-justify-content-around ion-align-items-center">
        <ion-col size="3" class="shortcut-item">
          <div class="shortcut-icon-wrapper">
            <ion-icon name="albums-outline" class="shortcut-icon"/>
          </div>
          <p>Canchas</p>
        </ion-col>
        <ion-col size="3" class="shortcut-item">
          <div class="shortcut-icon-wrapper">
            <ion-icon name="archive-outline" class="shortcut-icon"/>
          </div>
          <p>Solicitudes</p>
        </ion-col>
        <ion-col size="3" class="shortcut-item" >
          <div class="shortcut-icon-wrapper">
            <ion-icon name="stats-chart-outline" class="shortcut-icon"/>
          </div>
          <p>Historial</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <!-- Próximos Partidos -->
  <section class="ion-padding">
    <h3 class="section-title ion-no-margin">Próximos Partidos</h3>
    <ion-card class="modern-card">
      <ion-list>
        @for (match of upcomingMatches; track $index) {
          <ion-item [lines]="$index === upcomingMatches.length - 1 ? 'none' : 'inset'" [routerLink]="['/private/match-details']" button>
            <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-label>
              <h3 class="item-title">{{ match.title }}</h3>
              <p class="item-subtitle">{{ match.date | date: 'shortDate' }} - {{ match.location }}</p>
            </ion-label>
          </ion-item>
        }
        @empty {
          <ion-item lines="none">
            <ion-label color="medium" class="ion-text-center">No tienes partidos próximos.</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card>
  </section>

  <!-- Invitaciones -->
  <section class="ion-padding">
    <h3 class="section-title ion-no-margin">Tus Invitaciones</h3>
    <ion-card class="modern-card">
      <ion-list >
        @for (invitation of invitations; track $index) {
          <ion-item [lines]="$index === invitations.length - 1 ? 'none' : 'inset'" [routerLink]="['/private/invitation-details']" button>
            <ion-icon name="mail-outline" slot="start" color="tertiary"></ion-icon>
            <ion-label>
              <h3 class="item-title">{{ invitation.match.title }}</h3>
              <p class="item-subtitle">Invitado por: {{ invitation.inviterName }}</p>
            </ion-label>
          </ion-item>
        }
        @empty {
          <ion-item lines="none">
            <ion-label color="medium" class="ion-text-center">No tienes nuevas invitaciones.</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card>
  </section>
</ion-content>
