capacitor-google-map {
  position: initial !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

ion-spinner {
  width: 50px;
  height: 50px;
}

ion-buttons {
  color: white;
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

body {
  --background: transparent !important;
}

ion-content::part(background) {
  background: transparent !important;
}
