ion-checkbox::part(container) {
  border-radius: 10px;
}

::part(background) {
  // background-color: var(--ion-color-dark);
  // background-image: url(./../../../assets/images/fondo-login.jpeg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
