@let partido = partidoActual();

<!-- <ion-header>
  <ion-toolbar color="dark">
    @if (partido) {
      <div style="text-align: center; margin: 10px;">
        @if(partido.estado === 'confirmado') {
          <ion-spinner name="crescent" color="primary"/>
          <p style="margin: 6px; font-size: 14px;">Esperando jugadores...</p>
        } @else if (partido.estado == 'listo') {
          <ion-icon color="success" size="large" name="checkmark-circle-outline"/>
          <p class="ion-no-margin">¡Partido listo!</p>
        }
        @else if(partido.estado == 'pendiente_reserva') {
          <ion-spinner name="crescent" color="primary"/>
          <p style="margin: 6px; font-size: 14px;">Esperando jugadores...</p>
        }

        <ion-progress-bar [color]="partido.jugadores_actuales == partido.jugadores_requeridos ? 'success' : 'secondary'" [value]="partido.jugadores_actuales / partido.jugadores_requeridos"/>
        <small>{{ partido.jugadores_actuales }} / {{ partido.jugadores_requeridos }} jugadores</small>

        @if(partido.estado == 'listo') {
          <p style="color: rgb(163, 163, 163); margin: 6px; font-size: 14px;">¡Prepárate para jugar en la fecha y hora programada!</p>
        }
      </div>

    }
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    @if (partido) {
      <!-- Indicador de búsqueda de jugadores -->
      <!-- @if (partido.estado === 'confirmado' && !partido.partido_privado) { -->
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-card class="modern-card" color="dark">
              <ion-card-content>
                @if(partido.estado === 'confirmado') {
                  <ion-spinner name="crescent" color="primary"/>
                  <p>Esperando jugadores...</p>
                } @else if (partido.estado == 'listo') {
                  <ion-icon color="success" size="large" name="checkmark-circle-outline"/>
                  <p>¡Partido listo!</p>
                }
                @else if(partido.estado == 'pendiente_reserva') {
                  <ion-spinner name="crescent" color="primary"/>
                  <p>Esperando cancha...</p>
                }

                <ion-progress-bar [color]="partido.jugadores_actuales == partido.jugadores_requeridos ? 'success' : 'secondary'" [value]="partido.jugadores_actuales / partido.jugadores_requeridos"/>
                <small>{{ partido.jugadores_actuales }} / {{ partido.jugadores_requeridos }} jugadores</small>

                @if(partido.estado == 'listo') {
                  <p style="color: rgb(163, 163, 163); font-size: 14px;">¡Prepárate para jugar en la fecha y hora programada!</p>
                }
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      <!-- } -->

      <!-- Información general del partido -->
      <ion-row>
        <ion-col size="12">
          <ion-card class="modern-card" color="dark">
            <ion-card-header>
              <ion-card-title>Detalles del Partido</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Deporte:</strong> {{ partido.deporte!.nombre_deporte }}</p>
              <p><strong>Fecha:</strong> {{ partido.fecha_partido | date: 'dd/MM/yyyy, HH:mm' }}</p>
              <p><strong>Rango de Edad:</strong> {{ partido.rangoEdad.descripcion }}</p>
              <p><strong>Nivel:</strong> {{ partido.nivelHabilidad.nombre_nivel_habilidad }}</p>
              <p><strong>Tipo:</strong> {{ partido.tipoPartido.nombre_tipo_partido }}</p>

              @if (partido.reserva) {
                <div>
                  <p><strong>Ubicación:</strong> {{ partido.reserva.cancha.ubicacion }}</p>
                  <p><strong>Material:</strong> {{ partido.reserva.cancha.material.nombre_material_cancha }}</p>
                </div>
              }
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Jugadores Confirmados y Invitados Pendientes -->
      <ion-row>
        <ion-col size="12">
          <ion-card class="modern-card" color="dark">
            <ion-card-header class="ion-align-items-center">
              <ion-card-title>Jugadores</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h3>Jugadores Confirmados</h3>
              <ion-list class="jugadores">
                @for (jugador of partido.jugadores; track $index) {
                  <ion-item lines="none" button (click)="openModal(jugador.usuario)" color="dark">
                    <ion-avatar slot="start">
                      <img [src]="jugador.usuario.imagen_perfil ? 'http://localhost:3000' + jugador.usuario.imagen_perfil : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ jugador.usuario.nombre }} {{jugador.usuario.apellido}}</h2>
                      <!-- <p>Posición: {{ jugador.usuario.posicion || 'Por Definir' }}</p> -->
                    </ion-label>
                    <ion-icon name="checkmark-circle-outline" color="success" slot="end"/>
                  </ion-item>
                }
              </ion-list>

              <!-- <h3 class="ion-margin-top">Invitados Pendientes</h3>
              <ion-list class="jugadores">
                @for (jugador of partido.jugadores; track $index) {
                  <ion-item lines="none" button (click)="openModal(jugador.usuario)" color="dark">
                    <ion-avatar slot="start">
                      <img [src]="jugador.usuario.imagen_perfil ? 'http://localhost:3000' + jugador.usuario.imagen_perfil : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{ jugador.usuario.nombre }} {{jugador.usuario.apellido}}</h2>
                      <p>Posición: {{ jugador.usuario.posicion || 'Por Definir' }}</p>
                    </ion-label>
                    <ion-icon name="hourglass-outline" color="warning" slot="end"/>
                  </ion-item>
                }

              </ion-list> -->
            </ion-card-content>

            <ion-footer class="ion-no-border ion-padding-horizontal ion-padding-bottom">
              <ion-button id="open-modal-invite" class="ion-no-margin" expand="block" color="secondary" (click)="getJugadoresDisponibles()">
                Invitar Jugadores
              </ion-button>
            </ion-footer>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-modal class="detail-user" [isOpen]="isModalOpen()" (didDismiss)="closeModal()">
        <ng-template>
          <ion-content class="ion-padding" color="dark">
            <app-user-info [idUsuario]="detalleJugador().id_usuario"/>
          </ion-content>
        </ng-template>
      </ion-modal>

      <!-- MODAL BUSCAR JUGADORES -->
      <ion-modal #modal trigger="open-modal-invite" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <ion-searchbar placeholder="Buscar jugador..." (click)="modal.setCurrentBreakpoint(0.75)"/>
            <ion-list>
              @for (jugador of jugadoresDisponibles(); track $index) {
                @if (usuarioId() != jugador.id_usuario) {
                  <ion-item>
                    <ion-avatar slot="start">
                      <img [src]="jugador.imagen_perfil ? 'http://localhost:3000' + jugador.imagen_perfil : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
                    </ion-avatar>
                    <ion-label>
                      <h2>{{jugador.nombre}} {{jugador.apellido}}</h2>
                      <p>Jugador</p>
                    </ion-label>
                    <ion-button slot="end" color="tertiary">
                      Invitar
                      <!-- <ion-icon name="person-add-outline" slot="icon-only"/> -->
                    </ion-button>
                  </ion-item>
                }

              } @empty {
                <ion-item>
                  <ion-label color="medium">
                    <h2>No hay usuarios disponibles para este tipo de partido.</h2>
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>
    }
  </ion-grid>
</ion-content>

