ion-avatar {
  border: 1px solid var(--ion-color-primary);
}



ion-list.jugadores {
  background-color: var(--ion-color-dark);; /* Fondo personalizado para toda la lista */
}


ion-modal.detail-user {
  --height: 55%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 30px;
}

.user-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  h6 {
    margin-top: 5px;
  }
}


