@let partido = partidoActual();

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    @if (partido) {
      <!-- Indicador de búsqueda de jugadores -->
      @if (partido.estado === 'confirmado' && !partido.partido_privado) {
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-card class="modern-card">
              <ion-card-content >
                <ion-spinner name="crescent" color="primary"></ion-spinner>
                <p>Esperando jugadores...</p>
                <ion-progress-bar [color]="partido.jugadores_actuales == partido.jugadores_requeridos ? 'success' : 'secondary'" [value]="partido.jugadores_actuales / partido.jugadores_requeridos"/>
                <small>{{ partido.jugadores_actuales }} / {{ partido.jugadores_requeridos }} jugadores</small>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      }

      <!-- Información general del partido -->
      <ion-row>
        <ion-col size="12">
          <ion-card class="modern-card">
            <ion-card-header>
              <ion-card-title>Detalles del Partido</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Deporte:</strong> {{ partido.deporte!.nombre_deporte }}</p>
              <p><strong>Fecha:</strong> {{ partido.fecha_partido | date: 'dd/MM/yyyy, HH:mm' }}</p>
              <p><strong>Rango de Edad:</strong> {{ partido.rangoEdad.descripcion }}</p>
              <p><strong>Nivel:</strong> {{ partido.nivelHabilidad.nombre_nivel_habilidad }}</p>
              <p><strong>Tipo:</strong> {{ partido.tipoPartido.nombre_tipo_partido }}</p>

              @if (partido.reserva) {
                <div>
                  <p><strong>Ubicación:</strong> {{ partido.reserva.cancha.ubicacion }}</p>
                  <p><strong>Material:</strong> {{ partido.reserva.cancha.material.nombre_material_cancha }}</p>
                </div>
              }
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Jugadores Confirmados y Invitados Pendientes -->
      <ion-row>
        <ion-col size="12">
          <ion-card class="modern-card">
            <ion-card-header class="ion-align-items-center">
              <ion-card-title>Jugadores</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h3>Jugadores Confirmados</h3>
              <ion-list>
                <ion-item *ngFor="let jugador of partido.jugadores" lines="none" button>
                  <ion-avatar slot="start">
                    <img [src]="jugador.usuario.imagen_perfil || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ jugador.usuario.nombre }} {{jugador.usuario.apellido}}</h2>
                    <!-- <p>Posición: {{ jugador.usuario.posicion || 'Por Definir' }}</p> -->
                  </ion-label>
                  <ion-icon name="checkmark-circle-outline" color="success" slot="end"/>
                </ion-item>
              </ion-list>

              <h3 class="ion-margin-top">Invitados Pendientes</h3>
              <ion-list>
                <ion-item *ngFor="let jugador of partido.jugadores" lines="none" button>
                  <ion-avatar slot="start">
                    <img [src]="jugador.usuario.imagen_perfil || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ jugador.usuario.nombre }} {{jugador.usuario.apellido}}</h2>
                    <!-- <p>Posición: {{ jugador.usuario.posicion || 'Por Definir' }}</p> -->
                  </ion-label>
                  <ion-icon name="hourglass-outline" color="warning" slot="end"/>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- Botón para invitar jugadores -->
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="12">
          <ion-button class="modern-button" expand="block" color="secondary" (click)="invitarJugadores()">
            Invitar Jugadores
          </ion-button>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>
