.user-avatar-container {
  position: relative;
  border: 2px solid var(--ion-color-primary);
  border-radius: 50%;
}

.edit-avatar-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  h6 {
    margin-top: 5px;
  }
}

.rating-stars {
  display: flex;
  justify-content: center;
}

.preferences-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.preference-item {
  display: flex;
  align-items: center;
  width: calc(50% - 10px); /* Dos columnas en pantallas grandes */
}

.preference-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #ffffff;
}

.preference-text {
  display: flex;
  flex-direction: column;
}

.preference-title {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0;
}

.preference-value {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 360px) {
  .preference-item {
    width: 100%; /* Una columna en pantallas pequeñas */
  }
}

ion-datetime-button::part(native) {
  width: 100%;
}

ion-segment {
  --background: var(--ion-color-dark); /* Fondo del segmento */

  ion-segment-button {
    --color: #ffffff; /* Color del texto en botones no seleccionados */
  }
}
