<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <div class="ion-text-center">
        <h5 class="ion-no-margin">Seleccionar Cancha</h5>
        <p class="ion-no-margin" style="font-size: small; font-weight: 300;">Canchas disponibles</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="modern-card">
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="auto">
                <ion-icon color="tertiary" name="albums-outline" class="icon-large"/>
              </ion-col>
              <ion-col>
                <ion-text class="modern-text">
                  Una vez creado el partido, reserva una cancha cercana para jugar.
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Seleccionar ubicación -->
    <ion-accordion-group expand="inset" class="ion-no-margin ion-margin-horizontal ion-margin-bottom animated">
      <ion-accordion value="location" class="ion-no-margin">
        <ion-item slot="header" color="primary">
          <ion-icon name="location-outline" class="ion-margin-end"/>
          <ion-label>
            <h3>Ubicación*</h3>
            <p style="font-size: small;">{{ selectedLocation() ? selectedLocation() : 'No seleccionada' }}</p>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div>
            <ion-button  expand="block" color="secondary" [routerLink]="'/private/map'">
              Cambiar Ubicación
              <ion-icon name="navigate-circle-outline" slot="end"/>
            </ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Listado de canchas -->
    <ion-row class="animated">
      @if (!selectedLocation()) {
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none">
              <ion-label color="medium">*Debes seleccionar una ubicación para ver las canchas disponibles.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      } @else {
        @if (listCanchas().length) {
          <ion-col size="12">
            <ion-segment (ionChange)="segmentChanged($event)" value="list">
              <ion-segment-button value="list">
                <ion-icon name="list-outline"/>
              </ion-segment-button>
              <ion-segment-button value="grid">
                <ion-icon name="grid-outline"/>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
          @switch (selectedSegment()) {
            @case ('list') {
              <ion-col size="12" class="animated">
                <ion-list class="ion-no-padding" style="background-color: var(--ion-color-light);">
                  @for (cancha of listCanchas(); track $index) {
                    <ion-item color="dark modern-card ion-margin-bottom">
                      <ion-thumbnail slot="start">
                        <img [src]="cancha.imagenes?.length ? 'http://localhost:3000' + cancha.imagenes[0].url_imagen : 'assets/images/default-thumbnail.svg'" alt="cancha">

                      </ion-thumbnail>
                      <ion-label>
                        <h2>{{ cancha.nombre }}</h2>
                        <p>{{ cancha.descripcion }}</p>
                        <p>{{ cancha.deporte.nombre_deporte }}</p>
                        <p><b>{{ cancha.precio_por_hora | currency:'CLP':'symbol' }}</b> por hora</p>
                        <ion-button color="secondary" size="small" (click)="presentAlertConfirm(cancha)">
                          <ion-icon slot="start" name="ticket-outline"/>
                          Reservar
                        </ion-button>
                      </ion-label>
                    </ion-item>
                  }
                </ion-list>
              </ion-col>
            }
            @case ('grid') {
              @for (cancha of listCanchas(); track $index) {
                <ion-col size="12" size-md="6" size-lg="4">
                  <ion-card class="modern-card" color="dark" style="margin-top: 0px;">
                    <swiper-container [loop]="true" [pagination]="true" [autoplay]="true">
                      @for (imagen of cancha.imagenes; track $index) {
                        <swiper-slide>
                          <ion-img [src]="'http://localhost:3000' + imagen.url_imagen" class="cancha-img-modern" />
                        </swiper-slide>
                        <!-- <div class="price-badge">
                          <p>{{ cancha.precio_por_hora | currency:'CLP':'symbol' }} / hora</p>
                        </div> -->
                      }@empty {
                        <ion-img [src]="'assets/images/default-card-media.png'" class="cancha-img-modern" />
                      }
                    </swiper-container>

                    <!-- Precio sobre el slider -->
                    <div class="price-badge">
                      <p>{{ cancha.precio_por_hora | currency:'CLP':'symbol' }} / hora</p>
                    </div>
                    <ion-card-header>
                      <ion-card-title class="title-modern">
                        <div class="header-with-button" style="margin-bottom: 5px;">
                          <h5 class="ion-no-margin">{{ cancha.nombre_cancha }}</h5>
                          <ion-button size="small" [routerLink]="['/private/map/' + cancha.latitud + '/' + cancha.longitud]">
                            Ver en mapa
                          </ion-button>
                        </div>

                      </ion-card-title>
                      <ion-card-subtitle class="subtitle-modern" >
                        <div style="color: var(--ion-color-primary)">
                          <ion-icon color="primary" name="location-outline"/> {{ cancha.ubicacion }}
                        </div>
                        <div class="ion-margin-top" style="display: flex;align-items: center;">
                          <ion-icon style="margin-right: 4px;" color="tertiary" name="albums-outline"/> {{ cancha.material.nombre_material_cancha }}
                        </div>
                      </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content class="card-content-modern">
                      {{ cancha.descripcion ? cancha.descripcion : 'Sin descripción.'}}
                    </ion-card-content>

                    <!-- Botón interactivo para reservar cancha -->
                    <ion-button class="ion-no-margin" color="secondary" (click)="presentAlertConfirm(cancha)" style="display: block; padding: 6px 10px;">
                      <ion-icon slot="start" name="ticket-outline"/>
                      Reservar
                    </ion-button>
                  </ion-card>
                </ion-col>
              }
            }
          }
        } @else {
          <ion-col size="12">
            <ion-list>
              <ion-item lines="none">
                <ion-label color="medium">No hay canchas disponibles en la ubicación seleccionada.</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        }
      }
    </ion-row>
  </ion-grid>
</ion-content>
