<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <div class="ion-text-center">
        <h5 class="ion-no-margin">Seleccionar Cancha</h5>
        <p class="ion-no-margin" style="font-size: small; font-weight: 300;">Canchas disponibles</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="modern-card">
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="auto">
                <ion-icon color="tertiary" name="albums-outline" class="icon-large"/>
              </ion-col>
              <ion-col>
                <ion-text class="modern-text">
                  Una vez creado el partido, reserva una cancha cercana para jugar.
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Seleccionar ubicación -->
    <ion-accordion-group expand="inset" class="ion-no-margin ion-margin-horizontal ion-margin-bottom animated">
      <ion-accordion value="location" class="ion-no-margin">
        <ion-item slot="header" color="primary">
          <ion-icon name="location-outline" class="ion-margin-end"/>
          <ion-label>
            <h3>Ubicación*</h3>
            <p style="font-size: small;">{{ selectedLocation() ? selectedLocation() : 'No seleccionada' }}</p>
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div>
            <ion-button  expand="block" color="secondary" [routerLink]="'/private/map'">
              Cambiar Ubicación
              <ion-icon name="navigate-circle-outline" slot="end"/>
            </ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- Listado de canchas -->
    <ion-row class="animated">
      @if (!selectedLocation()) {
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none">
              <ion-label color="medium">*Debes seleccionar una ubicación para ver las canchas disponibles.</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      } @else {
        @if (listCanchas().length) {
          <ion-col size="12">
            <ion-segment (ionChange)="segmentChanged($event)" value="list">
              <ion-segment-button value="list">
                <ion-icon name="list-outline"/>
              </ion-segment-button>
              <ion-segment-button value="grid">
                <ion-icon name="grid-outline"/>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
          @switch (selectedSegment()) {
            @case ('list') {
              <ion-col size="12" class="animated">
                <ion-list>
                  @for (cancha of listCanchas(); track $index) {
                    <ion-item>
                      <ion-thumbnail slot="start">
                        <img [src]="'assets/images/default-thumbnail.svg'" alt="cancha">
                      </ion-thumbnail>
                      <ion-label>
                        <h2>{{ cancha.nombre }}</h2>
                        <p>{{ cancha.descripcion }}</p>
                        <p>{{ cancha.deporte.nombre_deporte }}</p>
                        <p><b>{{ cancha.precio_por_hora | currency:'CLP':'symbol' }}</b> por hora</p>
                        <ion-button color="secondary" size="small" (click)="presentAlertConfirm(cancha)">
                          <ion-icon slot="start" name="ticket-outline"/>
                          Reservar
                        </ion-button>
                      </ion-label>
                    </ion-item>
                  }
                </ion-list>
              </ion-col>
            }
            @case ('grid') {
              @for (cancha of listCanchas(); track $index) {
                <ion-col size="12">
                  <ion-card class="modern-card">
                    <div class="image-container">
                      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                      <div class="price-badge">
                        <p>{{ cancha.precio_por_hora | currency:'CLP':'symbol' }} / hora</p>
                      </div>
                    </div>

                    <ion-card-header>
                      <ion-card-title>{{ cancha.nombre }}</ion-card-title>
                      <ion-card-subtitle>{{ cancha.deporte.nombre_deporte }}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      {{ cancha.descripcion }}
                    </ion-card-content>

                    <ion-footer class="ion-no-border ion-padding footer-aligned-end">
                      <ion-button color="secondary" (click)="presentAlertConfirm(cancha)">
                        <ion-icon slot="start" name="ticket-outline"/>
                        Reservar
                      </ion-button>
                    </ion-footer>
                  </ion-card>
                </ion-col>
              }
            }
          }
        } @else {
          <ion-col size="12">
            <ion-list>
              <ion-item lines="none">
                <ion-label color="medium">No hay canchas disponibles en la ubicación seleccionada.</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        }
      }
    </ion-row>
  </ion-grid>
</ion-content>
