/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';
:root {
  --ion-color-primary: #04a9f7;
  --ion-color-primary-rgb: 4, 169, 247;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #037bcc;
  --ion-color-primary-tint: #35b3f9;

  --ion-color-secondary: #e96900;
  --ion-color-secondary-rgb: 233, 105, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c55b00;
  --ion-color-secondary-tint: #eb7e33;

  --ion-color-tertiary: #65a30d;
  --ion-color-tertiary-rgb: 101, 163, 13;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #578b0b;
  --ion-color-tertiary-tint: #7bb538;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #4edc74;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffd234;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #d1333d;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #757575;

  --ion-color-dark: #28323c;
  --ion-color-dark-rgb: 40, 50, 60;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #212a34;
  --ion-color-dark-tint: #39444e;
}

.ion-input-form {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.text-white {
  color: white;
}

.text-small {
  font-size: .75rem;
}

.error-label {
  --ion-color-base: var(--ion-color-danger, #c5000f) !important;
  --ion-color-base-rgb: var(--ion-color-danger-rgb, 197, 0, 15) !important;
  --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-danger-shade, #ad000d) !important;
  --ion-color-tint: var(--ion-color-danger-tint, #cb1a27) !important;
}

.rating-star-gold {
  color: #FFD700;
  /* Color dorado */
}

.rating-star-silver {
  color: #C0C0C0;
  /* Color plateado */
}

.rating-star-bronze {
  color: #CD7F32;
  /* Color bronce */
}

.rating-star-gray {
  color: #D3D3D3;
  /* Color gris claro */
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.modern-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
}

.modern-card-form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
  background-color: white;
}

.animated {
  transition: transform 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
}

.searchbar-modern {
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Animación de aparición (fade-in) con desplazamiento */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posición final */
  }
}
