<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/private/courts/create-court/step-1"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cancha (2)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center modern-row">
      <ion-col size="12" size-md="8" size-lg="6"> <!-- Tamaño responsivo para adaptar el diseño -->
        <ion-card class="modern-card">
          <ion-card-content class="modern-card-content">
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="auto">
                <ion-icon name="albums-outline" class="icon-large"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-text class="modern-text">
                  <b>Segundo,</b> selecciona los días y horarios disponibles.
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Lista de días de la semana en chips -->
    <ion-row class="ion-justify-content-center">
      @for (dia of diasSemana(); track $index) {
        <div class="day-chip mordern-chip" [ngStyle]="{ 'animation-delay': ($index * 100) + 'ms' }">
          <ion-chip
            [outline]="!dia.seleccionado"
            (click)="onToggleDia($index)"
            [color]="dia.seleccionado ? 'tertiary' : 'dark'"
            [attr.selected]="dia.seleccionado ? 'true' : null"
          >
            <ion-label>{{ dia.prefijo }}</ion-label>
          </ion-chip>
        </div>
      }
    </ion-row>

    <!-- Generar cards para los días seleccionados con las horas -->
    <ion-row>
      @for (dia of diasSemana(); track $index; let indexDia = $index) {
        @if (dia.seleccionado) {
          <ion-col size="12">
            <ion-card class="day-card modern-card">
              <ion-card-header class="header-with-button">
                <ion-card-title>
                  {{ dia.nombre }}
                </ion-card-title>
                <ion-button fill="clear" size="small" color="primary" >
                  <!-- <ion-icon slot="start" name="checkmark-done-outline"></ion-icon> -->
                  Seleccionar Todo
                </ion-button>
              </ion-card-header>
              <ion-card-content>
                <!-- Lista de horas para cada día -->
                <ion-row class="ion-justify-content-center">
                  @for (hora of dia.horarios; track $index; let indexHora = $index) {
                    <ion-col size="auto" class="hour-chip modern-hour-chip">
                      <ion-chip
                        class="ion-no-margin"
                        (click)="onToggleHora(indexDia, indexHora)"
                        [color]="hora.seleccionada ? 'success' : 'medium'"
                        [attr.selected]="hora.seleccionada ? 'true' : null"
                      >
                        <ion-label>{{ hora.hora }}</ion-label>
                      </ion-chip>
                    </ion-col>
                  }
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      }
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="ion-padding-horizontal" color="tertiary" expand="block"
      type="button" [routerLink]="['/private/courts/create-court/step-3']">
      Siguiente
    </ion-button>
  </ion-toolbar>
</ion-footer>
