<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-card class="ion-no-margin">
    <ion-card-content class="ion-no-padding">
      <ion-item  lines="full" button [routerLink]="['/invitaciones']">
        <ion-icon name="football-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Invitaciones</h3>
          <p>{{ countUnread('invitacion') }} nuevas, {{ countTotal('invitacion') }} total</p>
        </ion-label>
        @if (countUnread('invitacion')) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('invitacion') }} nuevos
          </ion-badge>
        }
      </ion-item>

      <ion-item lines="full" button [routerLink]="['/recordatorios']">
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Recordatorios</h3>
          <p>{{ countUnread('recordatorio') }} nuevos, {{ countTotal('recordatorio') }} total</p>
        </ion-label>
        @if (countUnread('recordatorio') > 0) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('recordatorio') }} nuevos
          </ion-badge>
        }
      </ion-item>

      <ion-item lines="none" button [routerLink]="['/mensajes']">
        <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Mensajes</h3>
          <p>{{ countUnread('mensaje') }} nuevos, {{ countTotal('mensaje') }} total</p>
        </ion-label>
        @if (countUnread('mensaje') > 0) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('mensaje') }} nuevos
          </ion-badge>
        }
      </ion-item>
    </ion-card-content>
  </ion-card> -->


  <ion-accordion-group class="ion-no-margin" expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-icon name="football-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Invitaciones</h3>
          <p>{{ countUnread('invitacion') }} nuevas, {{ countTotal('invitacion') }} total</p>
        </ion-label>
        @if (countUnread('invitacion')) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('invitacion') }} nuevos
          </ion-badge>
        }
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Recordatorios</h3>
          <p>{{ countUnread('recordatorio') }} nuevos, {{ countTotal('recordatorio') }} total</p>
        </ion-label>
        @if (countUnread('recordatorio') > 0) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('recordatorio') }} nuevos
          </ion-badge>
        }
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Mensajes</h3>
          <p>{{ countUnread('mensaje') }} nuevos, {{ countTotal('mensaje') }} total</p>
        </ion-label>
        @if (countUnread('mensaje') > 0) {
          <ion-badge color="danger" slot="end">
            {{ countUnread('mensaje') }} nuevos
          </ion-badge>
        }
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
