<app-header [typeHeader]="'public-route'"/>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card class="modern-card">
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="auto">
                <ion-icon color="primary" name="key-outline" class="icon-large"/>
              </ion-col>
              <ion-col>
                <ion-text class="modern-text">
                  Ingresa tu email para poder enviarte una clave de recuperación.
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card class="modern-card " color="dark">
          <ion-card-header class="ion-text-center">
           <h5 class="ion-no-margin">Recupera tu contraseña</h5>

          </ion-card-header>
          <ion-card-content>

            <ion-input
            type="email"
            fill="outline"
            placeholder="Ingresa tu email..."
            labelPlacement="stacked"
            label="Email"
            preventSpaces
            maxlength="50"
          >
            <ion-icon slot="start" name="mail-outline" aria-hidden="true"/>
          </ion-input>

          <div class="ion-margin-top">
            <ion-note color="primary">
              <strong>Nota</strong>: Una vez recibas el correo, sigue el paso a paso para recuperar tu contraseña.
            </ion-note>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-button class="ion-padding-horizontal modern-button" color="tertiary" expand="block"
      type="button" >
      Confirmar
    </ion-button>
  </ion-toolbar>
</ion-footer>
