<app-header [typeMenu]="'route'"/>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <form id="formRegistry" (ngSubmit)="onSubmit()">
          <ion-input class="ion-input-form" label="Nombre" labelPlacement="floating"></ion-input>
          <ion-input class="ion-input-form" label="Apellido" labelPlacement="floating"></ion-input>
          <ion-input class="ion-input-form" label="RUT" labelPlacement="floating"></ion-input>
          <ion-input class="ion-input-form" label="Número de teléfono" labelPlacement="floating"></ion-input>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button color="tertiary" expand="block" type="submit" form="formRegistry">Siguiente</ion-button>
  </ion-toolbar>
</ion-footer>
