<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <div class="ion-text-center">
        <h5 class="ion-no-margin">Invitaciones</h5>
        <p class="ion-no-margin" style="font-size: small; font-weight: 300;">Mis invitaciones</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list lines="full" style="background-color: var(--ion-color-light);">
    <!-- Ejemplo de una invitación -->
    <ion-card color="dark" class="ion-margin-bottom modern-card">
      <ion-item color="dark">
        <ion-avatar slot="start" class="user-avatar-container" style="width: 50px; height: 50px;">
          <img src="assets/images/default-avatar.svg" />
        </ion-avatar>
        <ion-label>
          <ion-chip color="tertiary" class="ion-no-margin calendar-chip" [outline]="true">
            <ion-icon name="calendar-outline"/>
            <ion-label>11-01-2025, 17:00</ion-label>
          </ion-chip>
          <div style="display: flex; align-items: center; margin: 5px 0px">
            <ion-icon name="football-outline" style="margin-right: 5px; width: 17px; height: 17px;"/>
            <h2>Fútbol 11</h2>
          </div>
          <ion-button size="small" color="secondary">Detalles</ion-button>
          <p style="font-size: 0.85em; color: #d3d3d3;">Invitado por: Daniel González</p>
        </ion-label>
      </ion-item>
      <ion-item color="dark" lines="none">
        <ion-button expand="block" color="primary" class="ion-margin-end">Aceptar</ion-button>
        <ion-button expand="block" color="danger">Rechazar</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
