<footer class="p-4 bg-secondary-800 md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="#" class="flex justify-center items-center text-2xl font-semibold">
      <img src="https://i.ibb.co/rpKJJFt/logo-flashmatch.png" class="mr-3 h-14 sm:h-24" alt="FlashMatch Logo" />
    </a>
    <p class="my-6 text-white">Nuestras Redes:</p>
    <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">Politicas</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Terminos</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center">© 2024-2025 <a href="#" class="hover:underline">FlashMatch™</a>. Todos los derechos reservados.</span>
  </div>
</footer>
