ion-checkbox::part(container) {
  border-radius: 10px;
}

::part(background) {
  background-image: url(./../../../assets/images/fondo-login.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
