ion-checkbox::part(container) {
  border-radius: 10px;
}

::part(background) {
  background-image: url(https://images.unsplash.com/photo-1544914379-806667cd9489?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGV4dHVyYXMlMjBkZSUyMGMlQzMlQTlzcGVkfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
