<app-header [typeMenu]="'public'"/>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">
        <ion-card style="margin: 0px;" class="ion-padding">
          <form (ngSubmit)="onSubmit()">
            <ion-input class="ion-input-form ion-margin-bottom" label="Email" labelPlacement="floating"></ion-input>
            <ion-input class="ion-input-form ion-margin-bottom" label="Contraseña" labelPlacement="floating"></ion-input>
            <ion-checkbox class="ion-margin-vertical" labelPlacement="end">Recordar contraseña</ion-checkbox>
            <ion-button color="tertiary ion-margin-vertical" [routerLink]="['/home']" expand="block">INGRESAR</ion-button>
            <ion-button color="secondary ion-margin-bottom" [routerLink]="['/auth/register']" expand="block" type="submit">REGÍSTRATE</ion-button>
          </form>
          <div class="ion-text-center ion-margin-top">
            <a [routerLink]="['/auth/recovery-password']">¿Olvidaste tu contraseña?</a>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<!--
            <ion-row class="ion-margin-bottom">
              <ion-col>
                <ion-input class="ion-input-form" label="Email" labelPlacement="floating"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-bottom">
              <ion-col>
                <ion-input class="ion-input-form" label="Contraseña" labelPlacement="floating"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-bottom">
              <ion-col>
                <ion-checkbox labelPlacement="end">Recordar contraseña</ion-checkbox>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button color="tertiary" expand="block">INGRESAR</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button color="secondary" [routerLink]="['/auth/registry']" expand="block">REGÍSTRATE</ion-button>
              </ion-col>
            </ion-row> -->
